footer
    position relative
    bottom 0 
    width 100%
    background transparent
    z-index 2
    hr
        margin 0
    .footer 
        width 1200px
        height 110px
        margin 25px auto 20px auto !important
        display flex
        flex-direction row
        align-items flex-start
        padding 0
        .logo-rodape
            width 25%
            margin 8px 0 0 0
            padding 0
            opacity 0.6
        .dados-contato
            width 30%
            display flex
            flex-direction column
            margin-left 50px
            .contato-telefone
                montserrat(22, medium)
                color #808080
                margin 0
                padding 0
            .end-completo
                display flex
                flex-direction column
                margin 0
                padding 0
                p
                    montserrat(12, medium)
                    color #808080
                    margin 0
            .instagram
                margin 5px 0
                padding 0
        .dados-menu
            width 25%
            display flex
            flex-direction column
            margin 3px 0 0 90px
            a 
                montserrat(12, medium)
                color #808080
                text-transform uppercase
                padding 3px 0
                &:hover
                &.focus 
                    color #0E0E0E
        .info-trupe
            width 20%
            display flex
            flex-direction column
            justify-content center
            margin 5px 0
            p
                montserrat(9, medium)
                color #808080
                text-align end 
                margin 0
                a
                    &:hover
                    &.focus 
                        color #0E0E0E
    +below($tablet)
        width 100%
        .footer
            width 90%
            margin 0 auto
            .logo-rodape
                img 
                    width 100%
                    margin 0
                    background-size contain
                    background-position center
            .dados-contato
                width 30%
                margin-left 20px
                .contato-telefone
                    montserrat(18, medium)
                .end-completo
                    p
                        montserrat(9, medium)
            .dados-menu
                width 22%
                margin 3px 0 0 20px
                a 
                    montserrat(10, medium)
                    padding 3px 0
            .info-trupe
                width 23%
                margin 5px 0
                p
                    montserrat(8, medium)
    +mobile()
        width 100%
        .footer
            width 90%
            margin 0 auto
            height auto
            display flex
            flex-direction column
            align-items center
            .logo-rodape
                width 60%
                margin 0 auto
                padding 0
            .dados-contato
                width 100%
                margin 10px 0 0 0
                align-items center
                .contato-telefone
                    montserrat(18, medium)
                .end-completo
                    align-items center
                    p
                        montserrat(10, medium)
            .dados-menu
                width 100%
                margin 10px 0
                align-items center
                a 
                    montserrat(12, medium)
            .info-trupe
                width 100%
                margin 10px 0
                p
                    montserrat(8, medium)
                    text-align center

            
  
