header
    display flex
    width 1200px
    height 100px
    margin 0 auto
    top 0
    left 0
    z-index 2 
    .logo
        float left 
        left 0
        width 25%
        height 100%
        margin 0
        background $img('marca-elianaTolledo.png') no-repeat left center
        color #0E0E0E
        background-color transparent
        text-indent -9999px
    nav
        padding 0
        width 75%
        div.itens-menu
            height 100px
            margin-left 100px
            display flex
            align-items center
            justify-content space-between
            img.barra-menu
                width 1px
                height 25px
                background-color #808080
            a
                padding 0
                margin 0
                montserrat(12, medium) 
                color #0E0E0E
                text-transform uppercase
                white-space nowrap
                &:hover
                &.active
                &.focus 
                    color #808080
                    font-weight 500
            .social
                margin 0
                padding 0
                a
                    padding 10px
                    padding-bottom 7px
                    text-indent -9999px
                    &:before
                        display none
                    + a
                        margin-left 4px
                    &.instagram
                        background $img('icone-instagram.svg') no-repeat center
            
    +below($tablet)
        width 90%
        margin 0 auto
        height 100px
        padding 0
        .logo
            width 50%
            height 100px
            margin 0 50px 0 0
            +mobile()
                width 70% !important
                margin 0
                background-size contain
                background-position center
        nav
            position absolute
            display none
            background-color transparent
            width 100%
            left 0
            top 100px
            margin 0
            padding-right 0
            float right 
            z-index 9999
            div.itens-menu
                display flex
                flex-direction column
                align-items flex-end
                justify-content center
                background-color #FFF
                width 100%
                padding 10px 5% 10px 0
                margin 0
                height auto
                img.barra-menu
                    display none
                a
                    display block
                    padding 10px 0 0 0
                    height 30px
                    text-align right 
                    width 100%
                .social
                    width 100%
                    padding 0
                    height 30px
                    a
                        width 17px
                        padding 0
                        float right 
#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 30px 0 auto
    +mobile()
        margin 0 0 0 auto
    .lines
        display block
        width 100%
        height 4px
        background-color #808080
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #808080
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

