.trabalhos
    width 100%
    height auto
    margin-bottom 80px
    +mobile()
        display none
    .trabalho-right
        display flex
        flex-direction row
        position relative
        margin 0 auto
        img 
            width 50%
            height auto
            background-position 50% 50%
            background-size cover
            object-fit cover
        .texto-trabalho
            width 50%
            margin-right calc('(100% - 1200px)/2')
            padding 40px 0 20px 40px
            text-align left 
            p
                montserrat(16, medium)
                line-height 2
                margin 0
            .trabalho-titulo
                montserrat(28, light)
                text-transform uppercase
                padding-bottom 15px
    .trabalho-left
        display flex
        flex-direction row
        position relative
        margin 0 auto
        img 
            width 50%
            height auto
            background-position 50% 50%
            background-size cover
            object-fit cover
        .texto-trabalho
            width 50%
            margin-left calc('(100% - 1200px)/2')
            padding 40px 40px 20px 0
            text-align right 
            p
                montserrat(16, medium)
                line-height 2
                margin 0
            .trabalho-titulo
                montserrat(28, light)
                text-transform uppercase
                padding-bottom 15px
    +below($tablet)
        width 100%
        .trabalho-right
            img 
                width 50%
            .texto-trabalho
                width 50%
                margin-right 5%
                padding 30px 0 20px 30px
                p
                    montserrat(12, medium)
                .trabalho-titulo
                    montserrat(22, light)
        .trabalho-left
            img 
                width 50%
            .texto-trabalho
                width 50%
                margin-left 5%
                padding 30px 30px 20px 0
                p
                    montserrat(12, medium)
                .trabalho-titulo
                    montserrat(22, light)
.trabalhos-mobile
    display none
    +mobile()
        display block
        width 90%
        margin 0 auto
        .trabalho-mobile
            flex-direction column
            align-items center
            padding 10px 0 30px 0
            img 
                width 100%
            .texto-trabalho
                width 100%
                padding 10px 0
                p
                    montserrat(12, medium)
                    text-align justify
                    margin 0
                .trabalho-titulo
                    montserrat(22, light)
                    text-align center