.contato
    width 100%
    height 50%
    .center
        width 1200px !important
        margin 40px auto
        display flex
        flex-direction row
        .contato-img
            width 31%
            margin 0
            padding 8px 0 0 0
            img 
                width 100%
                height auto
                background-position 50% 50%
                background-size cover
                object-fit cover
        .contato-info
            width 31%
            display flex
            flex-direction column
            align-items flex-start
            padding-left 60px
            .telefone
                margin 0
                montserrat(28, medium)
            .end-completo
                margin 25px 0 40px 0
                p
                    margin 0
                    montserrat(14, medium)
            .instagram
                p
                    margin 0
                    montserrat(16, medium)
        form
            width 38%
            display flex
            flex-direction column
            padding 8px 0 0 0
            .dados
                display flex
                flex-direction column
                input[type=text]
                input[type=email] 
                    margin 2px 0
                    border none
                    height 40px
                    padding 0 10px
                    outline none
                    montserrat(16, medium)
                    color #0E0E0E
                    background-color #e5e5e5
                    +placeholder()
                        color #0E0E0E
                        background-color #e5e5e5
                    &:hover
                    &:focus
                        background-color #e5e5e5
                        montserrat(16)
                        font-weight 700
                textarea
                    margin 2px 0
                    border none
                    height 200px
                    padding 10px 10px
                    outline none
                    montserrat(16, medium)
                    color #0E0E0E
                    background-color #e5e5e5
                    +placeholder()
                        color #0E0E0E
                        background-color #e5e5e5
                    &:hover
                    &:focus
                        background-color #e5e5e5
                        montserrat(16)
                        font-weight 700
            .btn-contato
                margin 2px 0
                border none
                border-radius 0
                montserrat(16, medium)
                background-color #e5e5e5
                color #0E0E0E
                text-transform uppercase
                height 60px
                width 100%
                outline none
                &:hover
                &:focus
                    background-color #808080
                    color #FFF
            clearfix()
            .flash
                display flex
                flex-direction column
                align-items center
                justify-content space-around
                margin 0
                width 100%
                height 80px
                montserrat(14, medium)
                padding 10px
                border-radius 0
                > p
                    margin 0
                &.flash-erro
                    border 2px solid $vermelho
                    background $vermelho
                    color #fff
                &.flash-sucesso
                    border 2px solid $verde
                    background $verde
                    color #fff
                +below($tablet)
                    montserrat(12, medium)
                    height 60px
    +below($tablet)
        .center 
            width 90% !important
            .contato-img
                width 31%
            .contato-info
                width 31%
                padding-left 35px
                .telefone
                    montserrat(24, medium)
                .end-completo
                    margin 20px 0 30px 0
                    p
                        montserrat(12, medium)
                .instagram
                    p
                        margin 0
                        montserrat(13, medium)
            form
                width 38%
                .dados
                    input 
                        height 35px
                        +placeholder()
                            montserrat(13, medium)
                    textarea
                        height 135px
                        +placeholder()
                            montserrat(13, medium)
                .btn-contato
                    montserrat(13, medium)
                    height 45px
    +mobile()
        .center 
            width 90% !important
            flex-direction column
            .contato-img
                width 100%
            .contato-info
                width 100%
                padding 30px 10px
                .telefone
                    montserrat(28, medium)
                .end-completo
                    p
                        montserrat(14, medium)
                .instagram
                    p
                        montserrat(16, medium)
            form
                width 100%
.contato-mapa
    width 100%
    height 50%
    display block
    margin 10px 0 50px 0
    iframe 
        width 100%
    