.banners
    position absolute
    width 100%
    height 100%
    z-index 0
    background-color #FFF
    overflow-y hidden
    .banner
        position absolute
        width 100%
        height 100%
        margin 0 auto
        top 0
        left 0
        object-fit cover
        background-size cover
        background-position center
    .link
        cursor pointer

.cycle-pager 
    display flex
    flex-direction row
    position absolute
    bottom -60px
    right 3%
    width 25%
    z-index 500
    padding 0
    background transparent
    margin 0 auto
    +below($tablet)
        width 35%
    +mobile()
        width 50%
    span 
        height 8px
        border-radius 0
        float left
        color transparent
        transition-property background-color
        transition-duration 300
        border 1px solid #d9d9d9
        cursor pointer
        margin 0
.cycle-pager span:hover, .cycle-pager span.cycle-pager-active, #sb-counter div.sb-counter-current 
    background #808080