.projetos
    width 100%
    height 100%
    .center 
        width 1200px !important
        margin 0 auto 30px auto
        .projeto
            width 31.6%
            display inline-block
            margin 0 20px 20px 0
            position relative
            .projeto-capa
                width 100%
                height 400px
                transition opacity .3s
                background-position 50% 50%
                background-size cover
                object-fit cover
            &:hover::after
                visibility visible
            .overlay
                display block
                position absolute
                top 0
                left 0
                width 100%
                height 400px
                background-color #595959
                opacity 0
                transition opacity .3s
                transition transform 1s ease
                span 
                    display block
                    width 100%
                    text-align center
                    color #FFF
                    padding-top 50px
                    montserrat(18, medium)
                    text-transform uppercase
                +mobile()
                    display none
            &:hover .overlay
                opacity 0.8
                transform scale(0.9)
    .btn-projetos
        position relative
        display flex
        margin 10px auto 50px auto
        bottom 0
        montserrat(24, light)
        text-transform uppercase
        color #0E0E0E
        background transparent
        border none
        outline none
        &:hover
        &:focus
            color #808080
    +below($tablet)
        .center 
            width 90% !important
            .projeto
                width 47%
        .btn-projetos
            montserrat(22, light)
    +mobile()
        .center 
            width 90% !important
            .projeto
                width 100%
                margin 0 0 20px 0
                .projeto-capa
                    height 300px
        .btn-projetos
            montserrat(18, light)
