.projetos-show
    width 100%
    height 100%
    margin-bottom 30px
    a.btn-fechar
        width 100%
        position absolute
        text-align right 
        margin 20px 0
        right 30px
        montserrat(30, light)
        font-weight 100
    .center 
        width 1200px !important
        margin 0 auto
        position relative
        .projeto-titulo
            margin 35px 0 50px 0
            montserrat(16, medium)
            text-transform uppercase
        .projeto-imagens
            width 100%
            margin-bottom 20px
        .btn-voltar
            margin-top 30px
            montserrat(28, light)
    +below($tablet)
        .center
            width 90% !important
            .btn-voltar
                montserrat(22, light)