.perfil
    width 100%
    height auto
    .foto-texto
        width 1200px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        img 
            width 42%
        .perfil-texto
            width 58%
            montserrat(16, medium)
            padding 50px 0 10px 80px
            p
                line-height 2
    .texto-destaque
        width 1200px
        margin 0 auto
        padding 10px 0 10px 18%
        montserrat(28, light)
        p
            line-height 1.7
    .texto-dois
        display flex
        justify-content flex-end
        width 1200px
        margin 0 auto
        padding 0 0 70px 0
        montserrat(16, medium)
        p
            width 58%
            line-height 2
            padding 0 0 0 90px
    hr
        margin 0
    .equipe
        width 1200px
        margin 0 auto
        display flex
        flex-direction column
        padding 80px 0
        .pessoa
            display flex
            flex-direction row
            padding 0 0 40px 0
            margin-left 50%
            img 
                width 250px
                height 250px
                object-fit cover
                background-size cover
                background-position center
                filter grayscale(100%)
                -webkit-filter grayscale(100%)
                -moz-filter grayscale(100%)
                -ms-filter grayscale(100%)
                -o-filter grayscale(100%)
            .texto-pessoa
                width 100%
                padding 0 0 0 40px
                p 
                    margin 0
                    montserrat(16, medium)
                .pessoa-nome
                    margin 0
                    montserrat(28, light)
                    padding-bottom 30px
    +below($tablet)
        width 100%
        .foto-texto
            width 90%
            margin 0 auto
            .perfil-texto
                montserrat(12, medium)
                padding 30px 0 10px 60px
        .texto-destaque
            width 90%
            margin 0 auto
            montserrat(22, light)
        .texto-dois
            width 90%
            margin 0 auto
            padding 0 0 50px 0
            montserrat(12, medium)
            p
                padding 0 0 0 70px
        .equipe
            width 90%
            margin 0 auto
            padding 60px 0
            .pessoa
                img 
                    width 175px
                    height 175px
                .texto-pessoa
                    padding 0 0 0 30px
                    p 
                        montserrat(12, medium)
                    .pessoa-nome
                        montserrat(22, light)
                        padding-bottom 15px
    +mobile()
        width 100%
        .foto-texto
            flex-direction column
            align-items center
            img 
                width 100%
            .perfil-texto
                width 100%
                padding 10px 0
        .texto-destaque
            padding 0 25px
            montserrat(20, light)
        .texto-dois
            padding 10px 0
            p
                width 100%
                padding 0
        .equipe
            padding 30px 0
            .pessoa
                padding 0 0 30px 0
                margin-left 0
                .texto-pessoa
                    padding 0 0 0 20px
                    p 
                        montserrat(10, medium)
                    .pessoa-nome
                        montserrat(18, light)
                        padding-bottom 10px