.referencias
    width 100%
    height 100%
    .center 
        width 1200px !important
        margin 0 auto 30px auto
        position relative
        .grid-item
            position relative
            width 47.5%
            height auto
            display flex
            flex-direction column
            position relative
            margin 0 2.5% 80px 0
            .ref-imagem
                width 100%
                height auto
                background-position 50% 50%
                background-size cover
                object-fit cover
            .ref-texto
                width 100%
                height auto
                p
                    montserrat(16, medium)
                    line-height 2
            .ref-nome-titulo
                width 100%
                height auto
                .nome
                    montserrat(20, light)
                    text-align start
                    margin 0
                .titulo
                    montserrat(12, light)
                    text-align start
                    margin 0
    .btn-referencias
        position absolute
        width 100%
        margin 10px auto 30px auto
        bottom 0
        montserrat(24, light)
        text-transform uppercase
        color #0E0E0E
        background transparent
        border none
        outline none
        &:hover
        &:focus
            color #808080
    +below($tablet)
        .center 
            width 90% !important
            .grid-item
                width 47%
                margin 0 20px 80px 0
                .ref-texto
                    p
                        montserrat(14, medium)
                .ref-nome-titulo
                    .nome
                        montserrat(18, light)
        .btn-referencias
            montserrat(22, light)
            margin 10px auto 20px auto
    +mobile()
        .center 
            width 90% !important
            .grid-item
                width 100%
                margin 0 0 80px 0
        .btn-referencias
            montserrat(18, light)